$body-bg: #0b1120;
$body-color: #e5e7eb;

$border-color: #243041;
$border-radius: 1rem;

$card-bg: #111827;
$card-border-color: #243041;

$list-group-bg: #111827;
$list-group-color: #e5e7eb;
$list-group-border-color: #243041;
